db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf
targets/verilator/.vs/*
targets/verilator/obj_dir/*
targets/verilator/x64/*
targets/verilator/roms/*
targets/verilator/*.hex
targets/verilator/imgui.ini
targets/verilator/audio.wav
rtl/*.hex
.vscode/settings.json
**/.vs/*
**/bin/*
**/obj/*
docs/vids/*
*.log
**/build/*.sym
**/build/*.rel
**/build/*.lst
**/build/*.map
**/build/*.noi
**/build/*.lk
**/build/*.asm
**/sound/res/*
**/sprites/res/*
**/tilemap/res/*
**/music/res/*